:root {
    --color-bottom-stroke: #D29E2E;
    --color-bottoms: #ffcc66;
    --color-bottoms-light: #FEF5E6;
    --color-background-grey: #C4C4C4;
    --color-background-black: #2B2B2B;
    --color-background-white: #ffffff;
    --color-text-light: #ffffff;
    --color-text-dark: #2B2B2B;
    /***************FONT SIZES**************/
    --font-size-h1: 36px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-p: 16px;
    /***************FONTS**************/
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Libre Baskerville', serif;
}
    /* HEADER - NAV */


.main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--font-primary);
        padding: 16px 32px;
        background-color: var(--color-background-white);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombreado header-nav */
    }

    /*LOGO BLACK NAV*/
    .logo-nav img {
        width: 120px;
        height: 110px;
    }

    /*LINKS BARRA DE NAVEGACION*/
    .nav-links {
        list-style: none;
        display: flex;
        gap: 60px;
    }

    .nav-links li a {
        text-decoration: none;
        color: var(--color-background-black);
        font-weight: normal;
        transition: color 0.3s;
    }

    .nav-links li a:hover {
        color: var(--color-bottom-stroke);
    }

    /* BURGER */
    .burger-menu {
        display: none;
        font-size: var(--font-size-h2);
        background: none;
        border: none;
        cursor: pointer;
    }

    /* ADAPTATION */
    @media (max-width: 768px) {
        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            right: 0;
            background: var(--color-background-white);
            width: 100%;
            padding: 20px 0;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .nav-links.active {
            display: flex;
        }

        .burger-menu {
            display: block;
        }
    }



.body {
    background-color: var(--color-background-white);
}

.welcome-page {
    position: relative;
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0px;
}

.welcome-page__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.welcome-page__content {
    max-width: 40%;
    color: var(--color-background-white);
    text-align: left;
    margin-left: 10%;
}

.welcome-page__title {
    font-size: var(--font-size-h1);
    margin-bottom: 32px;
    font-family: var(--font-secondary)
}

.welcome-page__button {
    background-color: var(--color-bottoms);
    color: var(--color-background-black);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: solid var(--color-bottoms);
    font-family: var(--font-primary);
    font-size: var(--font-size-p);

}

.welcome-page__button:hover {
    background-color: var(--color-background-white);
}

/********ABOUT US*******/
.about {
    text-align: center;
    padding: 80px 20px;
}

.about__title {
    font-size: var(--font-size-h1);
    margin-bottom: 54px;
    font-family: var(--font-secondary)
}

.about__content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 30px;
}

.about__image {
    width: 40%;
    max-width: 300px;
}

.about__text {
    margin-left: 54px;
    width: 50%;
    text-align: left;
    max-width: 350px;
    font-family: var(--font-primary)
}

.about__button {
    background-color: var(--color-bottoms-light);
    border: solid var(--color-bottom-stroke);
    color: var(--color-text-dark);
    padding: 10px 20px;
    border-radius: 5px;
    border: solid var(--color-bottoms);
    cursor: pointer;
    margin-top: 24px;
    font-family: var(--font-primary)
}

.about__button:hover {
    background-color: var(--color-bottoms);
    border: solid var(--color-bottoms);
}



/********INSTRUMENTS CARDS********/
.instruments {
    background-color: var(--color-background-grey);
    padding: 54px 0;
    display: flex;
    justify-content: center;
}

.instruments__container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.instruments__title {
    font-size: var(--font-size-h1);
    margin-bottom: 54px;
    text-align: center;
    font-family: var(--font-secondary)
}

.instruments__description {
    font-size: var(--font-size-p);
    max-width: 800px;
    margin: 0 auto 54px;
    font-family: var(--font-primary)
}

.instruments__grid {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 20px auto;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

.card {
    background-color: var(--color-background-white);
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    height: 150px;
    display: grid;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}


.icon__card {
    width: 80px;
    height: auto;
    grid-row: span 2;
    justify-items: center;
    align-items: center;
    justify-self: center;
}


.card__title {
    font-size: var(--font-size-h3);
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    align-items: end;
    align-content: end;
    font-family: var(--font-secondary)
}


.button__card {
    background-color: var(--color-bottoms-light);
    color: black;
    border: 2px solid var(--color-bottoms);
    padding: 8px 16px;
    border-radius: 5px;
    max-width: 100px;
    cursor: pointer;
    font-size: var(--font-size-p);
    transition: 0.3s;
    align-self: center;
    justify-self: start;
    grid-column: 2;
    grid-row: 2;
    align-items: start;
    font-family: var(--font-primary)
}

.button__card:hover {
    background-color: var(--color-bottoms);
}

@media (max-width: 767px) {

    .welcome-page__title {
        width: 300px;
        font-size: var(--font-size-h3);

    }

    .about__content {
        display: flex;
        flex-direction: column;
    }

    .about__image {
        width: 100%;
        max-width: 250px;
    }

    .about__text {
        text-align: left;
        width: 90%;
        margin-left: 0;

    }

    .instruments__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: auto;
        margin: 20px auto;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .card {
        padding: 20px;
        border-radius: 15px;
        width: 250px;
        height: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .icon__card {
        width: 60px;
        height: auto;
        justify-items: center;
        align-items: center;
        justify-self: center;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {

    .welcome-page__title {
        width: 400px;

    }

    .about__content {
        display: flex;
        flex-direction: column;
    }

    .about__image {
        width: 100%;
        max-width: 355px;
    }

    .about__text {
        margin-left: 0;
        max-width: 400px;
    }

    .instruments__grid {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .card {
        padding: 20px;
        border-radius: 15px;
        width: 300px;
        height: 150px;
        grid-template-columns: 150px 1fr;

    }

    .icon__card {
        width: 80px;
        height: auto;
        justify-items: center;
        align-items: center;
        justify-self: center;
    }
}

#--contacto-contenedor {
    width: 80%; /* Para que se adapte mejor a distintos tamaños de pantalla */
    max-width: 800px; /* Limita el ancho máximo */
    height: auto; /* Ajusta la altura según el contenido */
    margin: 40px auto; /* Centra horizontalmente */
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center;
 } 
 
 h2{
    font-family: var(--font-secondary);
    font-size: 36px;
 }
 
 
 .--text-container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
 }
 
 
 
 form {
    display: flex;
    flex-direction: column; /* Los elementos del formulario en columna */
    align-items: center; /* Centra los inputs */
    width: 100%;/*Ocupará el ancho del contenedor*/
    overflow-x: hidden; 
 }
 .input-container{
    display: flex;
    flex-direction: column; /* Pone el label arriba del input */
    align-items: flex-start; /* Alinea a la izquierda */
    margin-left: 100px; /* Aplica margen a todo el bloque */
    width: 90%; /* Ajusta el ancho del contenedor */
    max-width: 700px; /* Limita el ancho máximo */
 }
 
 input {
    width: 100%; /* Ajustable para pantallas más pequeñas */
    max-width: 700px; /* No excede el ancho definido */
    height: 86px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    border:1px solid #ccc;
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: left;
 }
 
 label {
    font-size: 24px;
    margin-top: 10px;
    font-family: var(--font-primary);
 }
 
 input::placeholder {
    font-size: 24px; 
    color:var(--color-background-grey) 
 }
 
 #mensaje {
    width: 100%;
    max-width: 700px;
    height: 355px;
    margin-bottom: 65px;
 }
 
 .--form-button {
    font-family: var(--font-primary);
    background-color:  var(--color-background-white);
    color: black;
    border: 2px solid var(--color-bottom-stroke);
    border-radius: 10 px;
    max-width: 100px;
    font-size: 18px;
    transition: 0.3s;
    margin-top: 20px;
    cursor:pointer;
    text-align: center;
    width: 138px;
    height: 40px;
 
 }
 .--form-button:hover {
    background-color: var(--color-bottom-stroke);
        color: var(--color-background-white);
 }
 
 
 #ok-mesaje{
    display: none;
    font-size: 36px; 
    color:var(--color-bottom-stroke); 
    text-align: center;
 }
  
/*FOOTER*/

.--main-footer {
    background-color: var(--color-background-black);
    display: flex;
    justify-content: space-between;
    /* Distribuye los elementos horizontalmente */
    align-items: center;
    /* Alinea los elementos verticalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se acomoden si no caben en una línea */
    color: var(--color-background-white);
    padding: 20px;
    overflow-x: hidden;
}

.--logo-footer {
    display: flex;
    align-items: center;
    /* Alinea logo y dirección en una línea */
    gap: 60px;
    /* Espacio entre el logo y el address */

}

.--logo-footer img {
    max-width: 120px;
    /* Ajusta el tamaño del logo */
}

.--address {
    display: flex;
    flex-direction: column;
    /* Coloca los textos en columna */
    font-style: normal;
    gap: 5px;
    /* Espaciado entre líneas de dirección */
    list-style: none;
}
.--rrss-footer i {
    line-height: 100px;
    color:var(--color-background-white);
    font-size: 2rem;
    padding: 50px 50px;
   }
   .--rrss-footer i:hover{
      color:var(--color-bottom-stroke)
   }
    
.--footer-links ul {
    list-style: none;
    padding: 30px;
    display: block;
    gap: 30px;
    /* Espaciado entre enlaces */
}

.--footer-links ul li a {
    color: var(--color-background-white);
    text-decoration: none;
    transition: color 0.3s;
}

.--footer-links ul li a:hover {
    color: var(--color-bottom-stroke);
}

.--main-footer p {
    text-align: center;
    width: 100%;
    /* Asegura que el copyright ocupe toda la fila */
    margin-top: 10px;
}

.--rrss-footer i {
    line-height: 100px;
    color: var(--color-background-white);
    font-size: 2rem;
    padding: 50px 50px;
}

.--rrss-footer i:hover {
    color: var(--color-bottom-stroke)
}